<h2>All entites from database</h2>
<div class="panel">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of productList">
            <td>{{product._id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>
                <button class="btn btn-warning" (click)="onEdit(product._id)">Edit</button>
                <button class="btn btn-danger" (click)="onDelete(product._id)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>