<div class="container">
    <h2 class="header" align="center">Product Management System</h2>
    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="/"><span
                        class="glyphicon glyphicon-home"></span>Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/product">Product</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
